.contact-details-container {
    display: flex;
    color: #0A3C47;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0; /* Background color for the container */
    border: none;
    border-radius: 20px;
    box-shadow: 5 10px 10px rgba(24, 105, 12, 0.479); /* Shadow for the container */
    padding: 20px 40px;
  }
  
  .contactDetails {
    background-color: white; /* Background color for the contact details box */
    border: 1px solid #ddd; /* Border for the contact details box */
    padding: 20px;
    border-radius: 10px; /* Adjust as needed */
    text-align:start;
  }
  
  .btn {
    margin-top: 10px; /* Add space between buttons */
  }
  
  /* Style the buttons as needed */
  .btn-info {
    display: flex;
    align-self: start;
    background-color: #17a2b8;
    color: white;
    margin-bottom: 10px;
  }
  
  .btn-danger {
    background-color: #dc3545;
    color: white;
    display: flex;
    align-self: flex-end;
  }
  
  /* Add more styles as needed */
  